h2{
    color:orange;
}

body{
    background-color:#305050;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

header{
    border-bottom: 1px solid grey;
}

footer{
    border-top: 1px solid grey;
}

/*elemento id seleciona com #*/
#nome-usuario{
    font-weight:bold;
}

.texto-italico{
    font-style: italic;
}